[submodule "DungeonTools/DungeonTools"]
	path = DungeonTools/DungeonTools
	url = git@github.com:CutFlame/DungeonTools.git
	branch = save-file-editor
[submodule "PakReader/PakReader"]
	path = PakReader/PakReader
	url = git@github.com:CutFlame/PakReader
	branch = MCDSaveEdit
